%p= "Dear #{@employee.name}"
%p= "You designation is #{@employee.designation}"
%p Your Login credentials are:
%p= "Email: #{@employee.email}"
%p= "Password is password, you can update this in your account at any time."
%p= "You can now start with your tasks as we discussed on call. Let me know if you have any confusions."